<li id="fixture-<%= fixture.id %>">
      <%= link_to gravatar_for(fixture.user, size: 50), fixture.user %>
      <span class="user"><%= link_to fixture.user.name, fixture.user %></span>
      <span class="content"><%= fixture.content %></span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(fixture.created_at) %> ago.
        <% if current_user?(fixture.user) %>
          <%= link_to "delete", fixture, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
      </span>
    </li>